.App {
  text-align: center;
 
}

.student-form{
  display: inline-block;
 
  text-align: center;
  border: 1px solid lightcoral;
  width: 500px;
  height: 340px;
  margin: 26px;
  background-color: aliceblue;

}

.book-form{
  display: inline-block;
 
  text-align: center;
  border: 1px solid lightcoral;
  width: 500px;
  height: 290px;
  margin: 26px;
  background-color: aliceblue;

}


label{
  display: inline-block;
  width: 290px;
  height: 40px;
  display: inline-block;
  font-family: cursive;
  margin: 5px;
}

nav{
background-color: aquamarine;
color: black;


}
.stud{
  position: relative;
  right: 20px;
  color: black;
  font-family: cursive;
}
.book{
  position: relative;
  left: 20px;
  color: black;
  font-family: cursive;
}


.cancel-button{
  background-color: red;
}

.delete-button{
  background-color: red;
  margin: 8px;
}

.save-button{
  background-color: green;
  margin: 8px;
}
.edit-button{
  background-color: lightskyblue;
}

.grid-data{
  border: 1px solid green;
  width: 251px;

}

.tr-student{
  border: 1px solid white;

 
}

th,td{
  border: 1px solid lightcoral;
}

thead{
  border: 1px solid lightcoral;
}

.search-button{
  background-color: green;
}



